/* wrapper */
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #fde492 0%, #fff1eb 15%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-size: cover;
    font-family: "Microsoft JhengHei", Arial;
}

.navbar {
    background-color: rgb(174, 228, 253);
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 43%;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.quiz-progress {
    height: 3%;
    position: fixed;
    top: 97%;
    left: 0;
    background-color: #b4cf74;
}

.progress {
    --bs-progress-bg: none;
}

.bgLD {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: .8;
    z-index: 1031;
}

.loading {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1032;
}

.rabbit-loading {
    width: 125px;
    animation: hu__hu__ infinite 2s ease-in-out;
}

.textLD {
    color: white;
    font-size: 20px;
}

.textLD span {
    display: inline-block;
    animation: leBeat infinite 1.5s both;
}


/* start */
.start-img {
    width: 25%;
    position: absolute;
    top: 23%;
    left: 15%;
    /* border: 1px solid #ff0000; */
}

.start-text {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 45%;
    text-align: center;
    /* border: 1px solid #ff0000; */
}

.start-btn {
    width: 200px;
    height: 45px;
    margin: 2%;
    background-color: #fdd892;
    border: none;
    border-radius: 10px;
}

.start-btn:hover {
    color: white;
    font-weight: bolder;
    background-color: brown;
    border: whitesmoke;
}

/* content */
.question {
    width: 60%;
    position: absolute;
    top: 16%;
    left: 20%;
    text-align: center;
    /* border: 1px solid #ff0000; */
}

.question-out {
    animation-name: fade-out-bck;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.question-in {
    animation-name: fade-in-fwd;
    animation-duration: 1s;
}
.fade-out {
    animation: fade-out .5s linear both;
}

input[type="radio"] {
    display: none;
}

label {
    width: 50%;
    padding: 8px 10px;
    margin: 15px auto;
    display: flex;
    border: 3px solid #ffffff;
    border-radius: 100px;
    justify-content: space-around;
    font-size: 20px;
}

label:hover {
    background-color: #75b0fd;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

/* a:target {
    animation-name: fade-out-bck;
    animation-duration: 0.5s;
} */

.quiz-img1 {
    width: 20%;
    animation-name: shake-lr;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.quiz-img2 {
    width: 10%;
    position:absolute;
    top: 14%;
    left: 45%;
    z-index: 2;
    animation-name: wobble-ver-right;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.quiz-img3 {
    width: 15%;
    animation-name: jello-horizontal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.quiz-img4 {
    width: 20%;
    animation-name: bounce-top;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* result的mobile */
/* result */
.result {
    width: 100%;
    padding: 6% 13% 3% 13%;
    display: flex;
}

.img-cotainer {
    width: 35%;
    padding: 7% 5% 0 1%;
}

.result-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1; 
}

.result-content {
    width: 60%;
    text-align: center;
    /* border: 1px solid #ff0000; */
}

.result-text {
    width: 100%;
    padding-top: 10px;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}

table {
    width: 100%;
    margin-top: 5px;
}

td:first-child {
    width: 35%;
}

.share {
    padding: 5px;
    border: 2px whitesmoke;
    background-color: #fde492;
    font-size: 18px;
}

.share:hover {
    background-color: #75b0fd;
    color: whitesmoke;
    font-weight: bolder;
}

td:nth-child(2) {
    width: 45%;
    padding: 3% 0;
}

.result-carousel {
    padding: 0 0 0 5%;
}

.result-none {
    transform: scale(0);
    transition: .1s;
}

.result-in {
    animation-name: fade-in-fwd;
    animation-duration: 3s;
}

/* mobile */
@media (max-width: 768px) {
    .main {
        height: 100%;
        padding-top: 0;
    }

    .main-content {
        width: 100%;
        min-width: 480px;
        margin-top: 20%;
        position: static;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .quiz-progress {
        height: 1%;
        position: absolute;
        top: 99%;
        background-color: brown;
    }

    .rabbit-loading {
        width: 100px;
    }

    .textLD {
        font-size: 16px;
    }

    .start-img {
        width: 50%;
        margin: 0 25% 0 25%;
        position: static;
    }

    .start-text {
        width: 100%;
        padding: 0 10% 25% 10%;
        position: static;
    }

    .question {
        width: 100%;
        top: 13%;
        left: 0;
        padding: 0% 4%;
        /* border: 1px solid #ff0000; */
    }

    .quiz-img {
        width: 40%;
    }

    .quiz-img2 {
        width: 18%;
        left: 42%;
    }

    .quiz-img3 {
        width: 30%;
    }

    h4 {
        font-size: 1.25rem;
    }
    
    .label {
        width: 80%;
        font-size: 1rem;
    }

    .sm-mt {
        margin-top: 0;
    }

    .result {
        min-width: 480px;
        padding: 15% 3% 0 3%;
        position: absolute;
    }
    
    .result-content {
        width: 100%;
        padding: 0 4% 15% 4%;
    }
    
    .img-cotainer {
        width: 100%;
        padding: 0 25%;
    }

    .result-img {
        width: 100%;
    }

    .result-text {
        margin-bottom: 15px;
    }

    .share {
        padding: 3px;
    }

    td:nth-child(2) {
        padding: 0;
    }

}

.none {
    display: none;
}

